<div>
  <h1>Add a new Ingredient</h1>


  <%= simple_form_for([@meal, @ingredient]) do |f| %>
    <%= f.association :food %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
