<div class="main-container">
  <div>
    <div class="header">
      <h1>Your Meals</h1>
    </div>
  </div>

  <% num = 0 %>

  <div>
    <div>
      <% num += 1 %>
      <div class="cards">
        <% @meals.each do |meal| %>
            <%= link_to meal do %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
                <%=meal.name%>
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="add-meal">
    <p><%= link_to "Add a new meal", new_meal_path %></p>
  </div>
</div>
