<div>
  <h1><%= @meal.name %></h1>
</div>

<div>

  <div>
    <h3></h3>
    <% @meal.ingredients.each do |ingredient| %>
      <div><%= ingredient.description %></div>
    <% end %>
  </div>
</div>

<%= link_to "add an ingredient", new_meal_ingredient_path(@meal) %>
