th {
  background-color: #BBCDE5
}

table {
  width: 100%;
  p {
    font-size: 25px;
  }
}

.meal-rating {
  margin-bottom: 50px;
  h4 {
    font-size: 17px;
    text-align: center;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 70px;
    text-align: center;
  }
}
